.navbar{
    background-color: #28a745;
    align-items: flex-start;
    
    /*border:black solid;*/
    vertical-align: center;

}

.navbar-left{
    text-align: left;
    
}

.navbar-right{
    text-align: right;
    padding-top: 20px;
}

.logo{
    widows: 80px;
    height:80px;
}