.upload-container {
    display: flex;
    flex-direction: column;
    /*max-width: 20em;*/
    min-width: 20em;
    min-height: 5em;
    max-height: 10em;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.8);
    border-radius: 6px;
    padding: 24px;
    background-color: aliceblue;
    margin: 5px;
  }

  .header-container {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 8em;
    max-width: 20em;
    height: 30px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    margin-bottom: 10px;
    align-items: center;
    transition: visibility 0.5s ease-out;
    background-color: aliceblue;
    text-align: center;

  }

  .header {
    flex: 1;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #28a745;
    line-height: 2;
    cursor: pointer;
  }