#main {
  width: 40rem;
  height: 10rem;
  background-color: white;
}

#img {
  background-color: gray;
  width: 4rem;
  height: 4rem;
}

#col {
  padding-right: 60px;
  border-right: 1px solid #ccc;
}
